p, li{

font-family: Cambria, Georgia, serif;
font-size: 10px;
color:#000033;

}

h1{
	font-size: 20px;
	font-weight: bold;
	font-family: Cambria, Georgia, serif;
	color:#000033;
	
}


#joblist {
	border-bottom: black;
	border-left: black;
	border-right: black;
	border-top: black;
	border-width: 2px;
	border-style: double;
}

p, h1, img {
	text-align: center
}

body {
	background-color:#DBFFDB;
}

.headers {
	font-weight: bold;
	font-size: 12px;
}

.employers {
	font-weight: bold;
	font-style: italic;
}



